* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.img-wrapper {
  width: 50%;
}

img {
  object-fit: cover;
}

canvas {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

h3 {
  margin-bottom: 0.7rem;
}

#cube,
#sphere,
#torus {
  height: 300px;
}
